@font-face {
	font-family: 'CMU Typewriter Text Variable Width';
	src: url('../font/subset-CMUTypewriterVariable.woff2') format('woff2'),
	    url('../font/subset-CMUTypewriterVariable.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
